* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    padding-top: 2rem;
}
.section-one {
    background-color: black;
    color: greenyellow;
}

header {
    padding: 1rem 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.parent {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.child-one {
    height: 200px;
    width: 300px;
    background-color: purple;
}

.child-two {
    height: 200px;
    width: 300px;
    background-color: rebeccapurple;
}

.child-three {
    height: 200px;
    width: 300px;
    background-color: royalblue;
}

.child-four {
    height: 200px;
    width: 300px;
    background-color: rosybrown;
}