* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

body {
    padding-top: 2rem;
}
.section-one {
    background-color: black;
    color: greenyellow;
}

header {
    padding: 1rem 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem; 
}


a {
    color: #00262B;
    transition: 0.1s all ease-in-out;
    box-sizing: border-box;
    /* display: inline-block; */
    padding: 0.6rem;
}

a:hover {
    /* color: rebeccapurple; */
    background-color: rgba(211, 211, 211, 0.813);
    border-radius: 20px;
    /* padding: 0.5rem; */
}

a:nth-child(3n) {
    background-color: #D64000;
    color: white;
    border-radius: 30px;
    border: 2.5px solid #D64000;
    padding: 0.8rem;
    transition: all 0.1s ease-in-out;
  }

  a:nth-child(3n):hover {
    background-color: white;
    color: #D64000;
  }

.parent {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.child-one {
    height: 200px;
    width: 300px;
    background-color: purple;
}

.child-two {
    height: 200px;
    width: 300px;
    background-color: rebeccapurple;
}

.child-three {
    height: 200px;
    width: 300px;
    background-color: royalblue;
}

.child-four {
    height: 200px;
    width: 300px;
    background-color: rosybrown;
}